<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{url_for('static', filename='style.css')}}">

    <title>Document</title>
</head>

<body>
    <div class="container">

        <div class="longButton">
            <button class="homeButton"; type="button"; onclick="location.href='/'">
                HOME
            </button>
        </div>

        <div class="emptyspace">
            <canvas id="nothing" class="emptyspace"; width="320"; height="330"></canvas>
        </div>

        <div class="buttonBox">
            <div class="bigassButton" float:left;>
                <button class="actualButtonLeft"; type="button"; onclick="location.href='/todo'">
                    TODO
                </button>
                <button class="actualButtonRight"; type="button"; onclick="location.href='/stat'">
                    STAT
                </button>
            </div>
    </div>
    
</body>
</html>